* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: auto; }

input, button {
  outline: none; }

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #262626; }

h1 {
  margin: 1rem auto; }

header {
  background: #262626;
  padding: 1rem;
  height: 3.5rem;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto; }

.Container {
  text-align: center;
  width: 100vw;
  height: 100vh; }

.View {
  background-color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: Column;
          flex-direction: Column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  overflow: hidden; }

.InnerContainer {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: Column;
          flex-direction: Column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto; }

.Total {
  margin: 1.5rem 0 0;
  font-size: 1.125rem;
  color: #262626; }
  .Total h5 {
    font-weight: light;
    font-size: .8em;
    opacity: .7; }
  .Total h1 {
    font-size: 1.75em;
    margin: .125em 0; }

.Slider {
  margin: 0;
  width: 100%; }
  .Slider .Card {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    opacity: .4; }

.CardsList {
  padding: 0 1.5rem 1.5rem; }
  .CardsList .Card {
    padding: 1rem 1rem 0; }
    .CardsList .Card .Card__footer {
      margin: .5rem 0 -1.5rem; }
    .CardsList .Card:not(:first-of-type) {
      margin-top: 4rem; }
    .CardsList .Card:not(.featured) {
      border-color: #c8c8c8; }
      .CardsList .Card:not(.featured) .Button {
        background-color: #a2a2a2; }

.Card {
  position: relative;
  outline: 0;
  border: 0.125rem solid #2BA4F9;
  padding: 1.5rem 1.5rem 1.5rem;
  border-radius: .5rem;
  margin: 3rem 0 0;
  width: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  visibility: visible;
  opacity: 1; }
  .Card.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0 !important;
    overflow: hidden; }

.Card__tag {
  color: #a2a2a2;
  position: absolute;
  width: 100%;
  top: -3rem;
  left: 0;
  font-size: 16px;
  line-height: 3rem; }
  .slick-current .Card__tag {
    color: #2BA4F9; }

.Card__desc {
  width: 100%; }
  .Card__desc img {
    width: 100%;
    margin: 0 auto;
    height: auto; }

.Card__footer {
  margin: 1rem 0 0; }

.Button {
  border: none;
  background: #2BA4F9;
  padding: 0.75em 1.5em;
  height: 3rem;
  text-decoration: none;
  border-radius: 1.5rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  color: white;
  font-size: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease; }
  .Button--text {
    background-color: transparent;
    color: #a2a2a2; }

.ButtonList {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: Column;
          flex-direction: Column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  width: 100%; }
  .ButtonList .Button {
    margin: .5rem 0; }

.BottomNav {
  padding: 1rem;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

.Message {
  text-align: center;
  padding: 0 3rem 3rem;
  width: 100%; }
  .Message p {
    margin: 1.5rem 0; }

.QuestionContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 2rem 0 0; }

.Question {
  width: 100%;
  padding: 0 1.5rem 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  text-align: left;
  min-height: 50vh; }
  .Question__label {
    font-size: 1.250rem;
    font-weight: bold;
    line-height: 1.3;
    margin: 0 0 .75rem; }
  .Question span {
    line-height: 1.3;
    font-size: 1em; }
  .Question__input {
    border: 2px solid #c8c8c8;
    border-radius: 4px;
    font-size: 1.25rem;
    padding: .75rem 1.5rem;
    width: 100%; }
    .Question__input:focus {
      border-color: #2BA4F9; }
  .Question__button {
    margin: .75rem 0 0; }

.RadioButtonList {
  list-style-type: none;
  margin: .75rem 0 0;
  padding: 0;
  width: 100%; }
  .RadioButtonList li {
    width: 100%;
    position: relative; }
    .RadioButtonList li:not(:first-child) {
      margin: 2vw 0 0; }
  .RadioButtonList input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .RadioButtonList input[type="radio"] {
    opacity: 0.011;
    z-index: 100; }
  .RadioButtonList input[type="radio"]:checked + label {
    background: #2BA4F9;
    color: white;
    border-color: transparent; }
    .RadioButtonList input[type="radio"]:checked + label::before {
      background: #8ecffc; }
  .RadioButtonList label {
    padding: .75rem 1.25rem;
    min-height: 3.5rem;
    border: 2px solid #c8c8c8;
    cursor: pointer;
    z-index: 90;
    border-radius: .375rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    font-size: .9em;
    line-height: 1.25em;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease; }
  .RadioButtonList label:hover {
    background: #DDD; }

button:disabled,
button[disabled] {
  background: #d5d5d5; }

.slick-list {
  padding: 0 7%;
  width: 100%; }

@media (min-width: 340px) {
  .slick-list {
    padding: 0 9%; } }

@media (min-width: 360px) {
  .slick-list {
    padding: 0 11%; } }

.slick-slide {
  margin: 0 .75rem;
  height: auto; }

.slick-current .Card {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1; }

.slick-dots {
  list-style: none;
  margin: 1rem 0 0; }

.slick-dots li {
  display: inline-block;
  margin: 0 .5em; }

.slick-dots span {
  display: block;
  background-color: #a2a2a2;
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  cursor: pointer; }

.slick-dots .slick-active span {
  background: #2BA4F9; }
