.calendarContainer {
  text-align: left;
  margin: 1rem 2rem 0; }

.calendar {
  max-width: max-content;
  margin: 1rem auto;
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid #e2e2e2;
  border-radius: 8px; }

.month-indicator {
  color: #19d1d0;
  text-align: center;
  font-weight: 500; }

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); }

.day-of-week {
  margin-top: 1.25em; }

.day-of-week > * {
  font-size: 0.7em;
  color: #a2a2a2;
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center; }

/* Dates */
.date-grid {
  margin-top: 0.5em; }

/* Positioning the first day */
.date-grid button:first-child {
  grid-column: 7; }

.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: #4a4a4a;
  margin: 0.125rem; }
  @media only screen and (max-width: 480px) {
    .date-grid button {
      font-size: 3vw; } }

.date-grid button:hover,
.date-grid button:focus {
  outline: none; }

.date-grid button.is-selected {
  background-color: #19d1d0;
  color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: auto; }

input, button {
  outline: none; }

body {
  background: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #262626; }

h1 {
  margin: 1rem auto; }

header {
  background: #262626;
  padding: 1rem;
  height: 3.5rem;
  width: 100%;
  flex: 0 0 auto; }

.Container {
  text-align: center;
  width: 100vw;
  height: 100vh; }

.View {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: Column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; }

.InnerContainer {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: Column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  overflow: auto;
  padding-bottom: 4rem; }
  .InnerContainer.no-footer {
    padding-bottom: 0; }

.Total {
  margin: 1.5rem 0 0;
  font-size: 1.125rem;
  color: #262626; }
  .Total h5 {
    font-weight: light;
    font-size: .8em;
    opacity: .7; }
  .Total h1 {
    font-size: 1.75em;
    margin: .125em 0; }

.Slider {
  margin: 0;
  width: 100%; }
  .Slider .Card {
    filter: grayscale(100%);
    opacity: .4; }

.CardsList {
  padding: 0 1.5rem 1.5rem; }
  .CardsList .Card {
    padding: 1rem 1rem 0; }
    .CardsList .Card .Card__footer {
      margin: .5rem 0 -1.5rem; }
    .CardsList .Card:not(:first-of-type) {
      margin-top: 4rem; }
    .CardsList .Card:not(.featured) {
      border-color: #c8c8c8; }
      .CardsList .Card:not(.featured) .Button {
        background-color: #a2a2a2; }

.Card {
  position: relative;
  outline: 0;
  border: 0.125rem solid #2BA4F9;
  padding: 1.5rem 1.5rem 1.5rem;
  border-radius: .5rem;
  margin: 3rem 0 0;
  width: 100%;
  transition: all 300ms ease;
  visibility: visible;
  opacity: 1; }
  .Card.hidden {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0 !important;
    overflow: hidden; }

.Card__tag {
  color: #a2a2a2;
  position: absolute;
  width: 100%;
  top: -3rem;
  left: 0;
  font-size: 16px;
  line-height: 3rem; }
  .slick-current .Card__tag {
    color: #2BA4F9; }

.Card__desc {
  width: 100%; }
  .Card__desc img {
    width: 100%;
    margin: 0 auto;
    height: auto; }

.Card__footer {
  margin: 1rem 0 0; }

.Button {
  border: none;
  background: #2BA4F9;
  padding: 0.75em 1.5em;
  height: 3rem;
  text-decoration: none;
  border-radius: 1.5rem;
  display: inline-flex;
  color: white;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease; }
  .Button--text {
    background-color: transparent !important;
    color: #a2a2a2; }

.ButtonList {
  display: flex;
  flex-direction: Column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%; }
  .ButtonList .Button {
    margin: .5rem 0; }

.BottomNav {
  padding: 1rem;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.Message {
  text-align: center;
  padding: 0 3rem 3rem;
  width: 100%; }
  .Message p {
    margin: 1.5rem 0; }

.QuestionContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex: 1 0 auto;
  padding: 3rem 0 0; }

.Question {
  width: 100%;
  padding: 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  text-align: left;
  min-height: 50vh; }
  .Question__label {
    font-size: 1.250rem;
    font-weight: bold;
    line-height: 1.3;
    margin: 0 0 .75rem; }
    .Question__label .sport {
      font-weight: 900;
      text-decoration: underline;
      text-transform: lowercase; }
  .Question span {
    line-height: 1.3;
    font-size: .875em;
    margin-bottom: .5rem; }
  .Question__input {
    border: 2px solid #c8c8c8;
    border-radius: 4px;
    font-size: 1.125rem;
    padding: .75rem 1.5rem;
    width: 100%; }
    .Question__input:focus {
      border-color: #2BA4F9; }
  .Question__button {
    margin: .75rem 0 0; }

.RadioButtonList {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
  width: 100%; }
  .RadioButtonList + .Question__button {
    margin-top: 1.5rem; }
  .RadioButtonList h4 {
    margin: 1.5rem 0 0;
    padding-bottom: .75rem; }
    .RadioButtonList h4:first-of-type {
      margin-top: 0; }
  .RadioButtonList li {
    width: 100%;
    position: relative; }
    .RadioButtonList li:not(:first-child) {
      margin: 2vw 0 0; }
  .RadioButtonList input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }
  .RadioButtonList input[type="radio"],
  .RadioButtonList input[type="checkbox"] {
    opacity: 0.011;
    z-index: 100; }
  .RadioButtonList input[type="radio"]:checked + label,
  .RadioButtonList input[type="checkbox"]:checked + label {
    background: #2BA4F9;
    color: white;
    border-color: transparent; }
    .RadioButtonList input[type="radio"]:checked + label::before,
    .RadioButtonList input[type="checkbox"]:checked + label::before {
      background: #8ecffc; }
  .RadioButtonList label {
    padding: .75rem 1.25rem;
    min-height: 3.5rem;
    background-color: #e7e7e7;
    color: #6a6a6a;
    cursor: pointer;
    z-index: 90;
    border-radius: .25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    line-height: 1.25em;
    transition: all 200ms ease; }
  .RadioButtonList label:hover {
    background: #DDD; }

.RadioButtonList--horizontal {
  display: flex; }
  .RadioButtonList--horizontal li:not(:first-child) {
    margin: 0; }
  .RadioButtonList--horizontal label {
    padding: 0;
    border-radius: 100px;
    width: 11vw;
    height: 11vw;
    min-width: 36px;
    min-height: 36px;
    max-width: 44px;
    max-height: 44px;
    justify-content: center; }

button:disabled,
button[disabled] {
  background: #d5d5d5;
  color: #a2a2a2; }

.slick-list {
  padding: 0 7%;
  width: 100%; }

@media (min-width: 340px) {
  .slick-list {
    padding: 0 9%; } }

@media (min-width: 360px) {
  .slick-list {
    padding: 0 11%; } }

.slick-slide {
  margin: 0 .75rem;
  height: auto; }

.slick-current .Card {
  filter: grayscale(0%);
  opacity: 1; }

.slick-dots {
  list-style: none;
  margin: 1rem 0 0; }

.slick-dots li {
  display: inline-block;
  margin: 0 .5em; }

.slick-dots span {
  display: block;
  background-color: #a2a2a2;
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  cursor: pointer; }

.slick-dots .slick-active span {
  background: #2BA4F9; }

footer {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .75rem 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #262626;
  color: white; }
  footer div {
    flex-grow: 1;
    padding: 0 .5rem; }
  footer .Button {
    height: 40px;
    width: 40px;
    padding: .5rem;
    font-size: 20px;
    line-height: 1; }
  footer.price .Button__next {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px; }
  footer.price div {
    text-align: left; }
  footer.price .clp {
    font-size: 22px;
    font-weight: 700; }
  footer.price .uf {
    font-size: 12px;
    opacity: .5; }

/*///////////////////////// MARGINS /////////////////////////*/
/* margin 0.25rem */
.m-1 {
  margin: 0.25rem; }

.ml-1 {
  margin-left: 0.25rem; }

.mr-1 {
  margin-right: 0.25rem; }

.mt-1 {
  margin-top: 0.25rem; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

/* margin 0.5rem */
.m-2 {
  margin: 0.5rem; }

.ml-2 {
  margin-left: 0.5rem; }

.mr-2 {
  margin-right: 0.5rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

/* margin 0.75rem */
.m-3 {
  margin: 0.75rem; }

.ml-3 {
  margin-left: 0.75rem; }

.mr-3 {
  margin-right: 0.75rem; }

.mt-3 {
  margin-top: 0.75rem; }

.mb-3 {
  margin-bottom: 0.75rem; }

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem; }

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }

/* margin 1rem */
.m-4 {
  margin: 1rem; }

.ml-4 {
  margin-left: 1rem; }

.mr-4 {
  margin-right: 1rem; }

.mt-4 {
  margin-top: 1rem; }

.mb-4 {
  margin-bottom: 1rem; }

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem; }

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

/* margin 1.25rem */
.m-5 {
  margin: 1.25rem; }

.ml-5 {
  margin-left: 1.25rem; }

.mr-5 {
  margin-right: 1.25rem; }

.mt-5 {
  margin-top: 1.25rem; }

.mb-5 {
  margin-bottom: 1.25rem; }

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem; }

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }

/* margin 1.5rem */
.m-6 {
  margin: 1.5rem; }

.ml-6 {
  margin-left: 1.5rem; }

.mr-6 {
  margin-right: 1.5rem; }

.mt-6 {
  margin-top: 1.5rem; }

.mb-6 {
  margin-bottom: 1.5rem; }

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* margin 1.75rem */
.m-7 {
  margin: 1.75rem; }

.ml-7 {
  margin-left: 1.75rem; }

.mr-7 {
  margin-right: 1.75rem; }

.mt-7 {
  margin-top: 1.75rem; }

.mb-7 {
  margin-bottom: 1.75rem; }

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem; }

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem; }

/* margin 2rem */
.m-8 {
  margin: 2rem; }

.ml-8 {
  margin-left: 2rem; }

.mr-8 {
  margin-right: 2rem; }

.mt-8 {
  margin-top: 2rem; }

.mb-8 {
  margin-bottom: 2rem; }

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem; }

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

/*///////////////////////// PADDINGS /////////////////////////*/
/* padding 0.25rem */
.p-1 {
  padding: 0.25rem; }

.pl-1 {
  padding-left: 0.25rem; }

.pr-1 {
  padding-right: 0.25rem; }

.pt-1 {
  padding-top: 0.25rem; }

.pb-1 {
  padding-bottom: 0.25rem; }

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

/* padding 0.5rem */
.p-2 {
  padding: 0.5rem; }

.pl-2 {
  padding-left: 0.5rem; }

.pr-2 {
  padding-right: 0.5rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

/* padding 0.75rem */
.p-3 {
  padding: 0.75rem; }

.pl-3 {
  padding-left: 0.75rem; }

.pr-3 {
  padding-right: 0.75rem; }

.pt-3 {
  padding-top: 0.75rem; }

.pb-3 {
  padding-bottom: 0.75rem; }

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem; }

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; }

/* padding 1rem */
.p-4 {
  padding: 1rem; }

.pl-4 {
  padding-left: 1rem; }

.pr-4 {
  padding-right: 1rem; }

.pt-4 {
  padding-top: 1rem; }

.pb-4 {
  padding-bottom: 1rem; }

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem; }

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

/* padding 1.25rem */
.p-5 {
  padding: 1.25rem; }

.pl-5 {
  padding-left: 1.25rem; }

.pr-5 {
  padding-right: 1.25rem; }

.pt-5 {
  padding-top: 1.25rem; }

.pb-5 {
  padding-bottom: 1.25rem; }

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem; }

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

/* padding 1.5rem */
.p-6 {
  padding: 1.5rem; }

.pl-6 {
  padding-left: 1.5rem; }

.pr-6 {
  padding-right: 1.5rem; }

.pt-6 {
  padding-top: 1.5rem; }

.pb-6 {
  padding-bottom: 1.5rem; }

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

/* padding 1.75rem */
.p-7 {
  padding: 1.75rem; }

.pl-7 {
  padding-left: 1.75rem; }

.pr-7 {
  padding-right: 1.75rem; }

.pt-7 {
  padding-top: 1.75rem; }

.pb-7 {
  padding-bottom: 1.75rem; }

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem; }

/* padding 2rem */
.p-8 {
  padding: 2rem; }

.pl-8 {
  padding-left: 2rem; }

.pr-8 {
  padding-right: 2rem; }

.pt-8 {
  padding-top: 2rem; }

.pb-8 {
  padding-bottom: 2rem; }

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem; }

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem; }
